body{
    background-color: rgb(75, 75, 241);
}
h3{
    margin-block-start: 10px;
    margin-block-end: 10px;
}
h1{
    color: rgb(9, 0, 129);
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
}
table tr td{
    border-style: solid;
    border-color: white;
    color: rgb(42, 0, 82);
    font-size: 20px;
    text-align: center;
    border-radius: 10%;
}
.meio{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /* background-color: rgb(168, 141, 168); */
}
.papa {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}